{# app/Resources/views/default/index.html.twig #}
{% extends 'default/base.html.twig' %}
{% block body %}
<h1>{{ comment }}</h1><br/>

<a href="http://localhost:8001/logout">Log out</a>
    
{% endblock %}