{# app/Resources/views/default/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}ChatApp{% endblock %}</title>
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
              crossorigin="anonymous">
    </head>
    <body>
        
        <div id="content" class="container" >
            
            <div class="row">
                <div class="col-sm" style="background-color: #ddd;">
                    <div id="sidebar">
                        {% block sidebar %}
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/blog">Blog</a></li>
                            </ul>
                        {% endblock %}
                    </div>
                 
                </div>
               
                
            </div>
            <div class="row">
                <div class="col-sm" style="background-color:#eee;">
                    {% block body %}
                    {% endblock %}
            </div>
            </div>

            
            
        </div>
    </body>
</html>
