{# app/Resources/views/default/index.html.twig #}
{% extends 'default/base.html.twig' %}
{% block body %}
<h1 style="color: red; font-weight:bold;">Intento fallido!!</h1>
<h1>{{ comment }}</h1>
    
{% endblock %}