{# app/Resources/views/default/index.html.twig #}
{% extends 'default/base.html.twig' %}
{% block body %}
    
    {{ form_start(form,{attr: {'style': 'padding-top: 20px;'}}) }}
    
        <div class="form-group row" >       
            {{ form_label(form.name,"Name", {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-5">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
              <!--  <input type="email" class="form-control" id="inputEmail4" placeholder="Email"> -->
            
        <div class="form-group row">
            {{ form_label(form.password,"Password", {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <!-- <input type="password" class="form-control" id="inputPassword4" placeholder="Password">-->
            <div class="col-sm-5">
                {{form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}  
            </div>
        </div>  
    {{ form_end(form) }}

    <h1>{{comment}}</h1>
{% endblock %}